In [1]:
import numpy as np
import pandas as pd

In [24]:
df = pd.read_csv(r"C:\Users\bunyo\OneDrive\Desktop\git_project\data\raw_data\weatherAUS.csv")

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

# dataset juda kattaligi uchun 25 ming qator ajratib olamiz

In [26]:
df = df.sample(n=25000,random_state=99)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25000 entries, 130887 to 35249
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           25000 non-null  object
 1   Location       25000 non-null  object
 2   MinTemp        24754 non-null  float64
 3   MaxTemp        24821 non-null  float64
 4   Rainfall       24438 non-null  float64
 5   Evaporation    14243 non-null  float64
 6   Sunshine       13014 non-null  float64
 7   WindGustDir    23222 non-null  object
 8   WindGustSpeed  23235 non-null  float64
 9   WindDir9am     23186 non-null  object
 10  WindDir3pm     24277 non-null  object
 11  WindSpeed9am   24684 non-null  float64
 12  WindSpeed3pm   24490 non-null  float64
 13  Humidity9am    24540 non-null  float64
 14  Humidity3pm    24245 non-null  float64
 15  Pressure9am    22422 non-null  float64
 16  Pressure3pm    22442 non-null  float64
 17  Cloud9am       15392 non-null  float64
 18  Cloud3pm       14793 non-null  float64
 19  Temp9am        24709 non-null  float64
 20  Temp3pm        24426 non-null  float64
 21  RainToday      24438 non-null  object
 22  RainTomorrow   24451 non-null  object
dtypes: float64(16), object(7)
memory usage: 4.6+ MB