In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\bunyo\OneDrive\Desktop\git_project\data\raw_data\sliced_data\sliced_data.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           25000 non-null  object
 1   Location       25000 non-null  object
 2   MinTemp        24754 non-null  float64
 3   MaxTemp        24821 non-null  float64
 4   Rainfall       24438 non-null  float64
 5   Evaporation    14243 non-null  float64
 6   Sunshine       13014 non-null  float64
 7   WindGustDir    23222 non-null  object
 8   WindGustSpeed  23235 non-null  float64
 9   WindDir9am     23186 non-null  object
 10  WindDir3pm     24277 non-null  object
 11  WindSpeed9am   24684 non-null  float64
 12  WindSpeed3pm   24490 non-null  float64
 13  Humidity9am    24540 non-null  float64
 14  Humidity3pm    24245 non-null  float64
 15  Pressure9am    22422 non-null  float64
 16  Pressure3pm    22442 non-null  float64
 17  Cloud9am       15392 non-null  float64
 18  Cloud3pm       14793 non-null  float64
 19  Temp9am        24709 non-null  float64
 20  Temp3pm        24426 non-null  float64
 21  RainToday      24438 non-null  object
 22  RainTomorrow   24451 non-null  object
dtypes: float64(16), object(7)
memory usage: 4.4+ MB